/* Variables */
:root {
    --outer-space: #33393f;
    --turquoise: #2aefcb;
    --gin: #e0eae4;
    --pink: #e866ec;
}

/* Element Selectors */
body {
    margin: 0;
    width: fit-content;
    box-sizing: border-box;
}

body, h2.card-header {
    background-color: var(--outer-space);
}

code {
    line-height: 1.75;
}

footer {
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 35px;
}

h1 {
    font-size: 56px;
    padding: 35px 0 15px 0;
    text-align: center;
}

header p {
    font-size: 19px;
    width: 75%;
    text-align: center;
    line-height: 1.5;
}

/* Class Selectors */
.all {
    user-select: all;
}

.card {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    width: auto;
    height: auto;
    padding: 25px;
    margin: 15px;
}

.card-code {
    display: flex;
    border-radius: 10px;
    padding: 0 20px;
    background-image: linear-gradient(
        to bottom,
        rgba(232, 102, 236, 0.2) 0%,
        rgba(231, 102, 236, 0.838) 100%);
}

.card-desc {
    padding: 15px;
    line-height: 1.5;
}

.card-header {
    border-style: solid;
    border-radius: 5px; 
    padding: 5px;
    margin-top: -45px;
    font-size: 28px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    box-sizing: border-box;
}

/* ID Selectors */
#box1, #box2, #box3, #box4, #box5, #box6 {
    padding-top: 10px;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 35px;
}

/* Variable Selectors */
.card, .card-header, .card-desc, h1, footer {
    color: var(--pink);
    border-color: var(--gin);
}

header p, .card-code {
    color: var(--gin); 
}

/* Effect Selectors */
article:hover, 
article:hover h2,
article:hover .card-code {
    box-shadow: inset 0px 0px 8px
    var(--turquoise), 0 0 15px
    var(--turquoise);
    animation: pulse 1.5s infinite; /* Make cards have a glowing and pulsing effect when hovered*/
}

/* Laptop & Desktop Media Queries */
@media screen and (max-width: 2560px) and (min-width: 2528px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    #box3 {
        padding-bottom: 45px;
    }

    #box4 {
        padding-top: 75px;
        padding-bottom: 53px;
    }

    #box6 {
        padding-top: 80px;
        padding-bottom: 65px;
    }

    .card-header {
        font-size: 4.5em;
    }

    .card-desc {
        font-size: 1.923em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 2527px) and (min-width: 2421px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    #box3 {
        padding-bottom: 45px;
    }

    #box4 {
        padding-top: 75px;
        padding-bottom: 53px;
    }

    #box6 {
        padding-top: 60px;
        padding-bottom: 45px;
    }

    .card-header {
        font-size: 4.5em;
    }

    .card-desc {
        font-size: 1.923em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 2420px) and (min-width: 2279px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    #box3 {
        padding-bottom: 45px;
    }

    #box4 {
        padding-top: 75px;
        padding-bottom: 53px;
    }

    #box6 {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .card-header {
        font-size: 4.25em;
    }

    .card-desc {
        font-size: 1.828em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 2278px) and (min-width: 2207px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    #box3 {
        padding-bottom: 45px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .card-header {
        font-size: 4em;
    }

    .card-desc {
        font-size: 1.828em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 2206px) and (min-width: 2005px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    #box3 {
        padding-bottom: 45px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 65px;
    }

    .card-header {
        font-size: 3.661em;
    }

    .card-desc {
        font-size: 1.8em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 2004px) and (min-width: 1828px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    #box3 {
        padding-bottom: 35px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    .card-header {
        font-size: 3.27em;
    }

    .card-desc {
        font-size: 1.613em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1827px) and (min-width: 1725px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    #box3 {
        padding-bottom: 35px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    .card-header {
        font-size: 3em;
    }

    .card-desc {
        font-size: 1.4em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1724px) and (min-width: 1633px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    #box3 {
        padding-bottom: 35px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    .card-header {
        font-size: 2.733em;
    }

    .card-desc {
        font-size: 1.4em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1632px) and (min-width: 1585px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #box3 {
        padding-bottom: 35px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    .card-header {
        font-size: 2.733em;
    }

    .card-desc {
        font-size: 1.4em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1584px) and (min-width: 1574px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    .card-header {
        font-size: 2.733em;
    }

    .card-desc {
        font-size: 1.4em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1573px) and (min-width: 1439px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 100px;
        padding-bottom: 95px;
    }

    .card-header {
        font-size: 2.441em;
    }

    .card-desc {
        font-size: 1.4em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1438px) and (min-width: 1338px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #box4 {
        padding-top: 95px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 80px;
        padding-bottom: 85px;
    }

    .card-header {
        font-size: 2.224em;
    }

    .card-desc {
        font-size: 1.4em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1337px) and (min-width: 1268px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #box4 {
        padding-top: 60px;
        padding-bottom: 75px;
    }

    #box6 {
        padding-top: 80px;
        padding-bottom: 85px;
    }

    .card-header {
        font-size: 2.222em;
    }

    .card-desc {
        font-size: 1.4em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1267px) and (min-width: 1177px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #box4 {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    #box6 {
        padding-top: 95px;
        padding-bottom: 83px;
    }

    .card-header {
        font-size: 1.907em;
    }

    .card-desc {
        font-size: 1.3em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 1176px) and (min-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #box1 {
        padding-bottom: 33px;
    }

    #box1, #box5 {
        padding-top: 10px;
    }
    
    #box2 {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    #box4 {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    #box6 {
        padding-top: 70px;
        padding-bottom: 75px;
    }

    .card-header {
        font-size: 1.7em;
    }

    .card-desc {
        font-size: 1.3em;
    }

    pre {
        font-size: 1.15em;
    }
}

/* Tablet Media Queries */
@media screen and (max-width: 991px) and (min-width: 965px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #box1, #box4, #box5 {
        padding-top: 10px;
    }
    
    #box2, #box3 {
        padding-top: 38px;
    }

    #box3 {
        padding-bottom: 4px;
    }

    #box6 {
        padding-top: 70px;
        padding-bottom: 132px;
    }

    .card-header {
        font-size: 2.46em;
    }

    .card-desc {
        font-size: 1.3em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 964px) and (min-width: 884px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #box1, #box4, #box5 {
        padding-top: 10px;
    }
    
    #box2, #box3 {
        padding-top: 38px;
    }

    #box6 {
        padding-top: 70px;
        padding-bottom: 132px;
    }

    .card-header {
        font-size: 2.198em;
    }

    .card-desc {
        font-size: 1.254em;
    }

    pre {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 883px) and (min-width: 823px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #box1, #box4, #box5 {
        padding-top: 10px;
    }
    
    #box2, #box3 {
        padding-top: 38px;
    }

    #box6 {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .card-header {
        font-size: 2em;
    }

    .card-desc {
        font-size: 1.254em;
    }
}

@media screen and (max-width: 822px) and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #box1, #box4, #box5 {
        padding-top: 10px;
    }
    
    #box2, #box3 {
        padding-top: 38px;
    }

    #box6 {
        padding-top: 70px;
        padding-bottom: 85px;
    }

    .card-header {
        font-size: 1.82em;
    }

    .card-desc {
        font-size: 1.137em;
    }
}

/* Mobile Device Media Queries */
@media screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Keyframes */
@keyframes pulse {
    0% {
        box-shadow: 0 0 10px var(--turquoise, 0.7);
    }
    50% {
        box-shadow: 0 0 20px var(--turquoise, 0.9);
    }
    100% {
        box-shadow: 0 0 10px var(--turquoise, 0.7);
    } /* This code block sets the properties for "animation: pulse" */
}